@page
@model DIAS.RazorPages.Pages.Studies.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>StudyRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudyRecord.InstanceId" />
            <div class="form-group">
                <label asp-for="StudyRecord.StudyUID" class="control-label"></label>
                <input asp-for="StudyRecord.StudyUID" class="form-control" />
                <span asp-validation-for="StudyRecord.StudyUID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyRecord.StudyID" class="control-label"></label>
                <input asp-for="StudyRecord.StudyID" class="form-control" />
                <span asp-validation-for="StudyRecord.StudyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyRecord.PatientName" class="control-label"></label>
                <input asp-for="StudyRecord.PatientName" class="form-control" />
                <span asp-validation-for="StudyRecord.PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyRecord.DateTime" class="control-label"></label>
                <input asp-for="StudyRecord.DateTime" class="form-control" />
                <span asp-validation-for="StudyRecord.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyRecord.PatientID" class="control-label"></label>
                <input asp-for="StudyRecord.PatientID" class="form-control" />
                <span asp-validation-for="StudyRecord.PatientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyRecord.PatientSex" class="control-label"></label>
                <input asp-for="StudyRecord.PatientSex" class="form-control" />
                <span asp-validation-for="StudyRecord.PatientSex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyRecord.PatientAge" class="control-label"></label>
                <input asp-for="StudyRecord.PatientAge" class="form-control" />
                <span asp-validation-for="StudyRecord.PatientAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyRecord.Modality" class="control-label"></label>
                <input asp-for="StudyRecord.Modality" class="form-control" />
                <span asp-validation-for="StudyRecord.Modality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyRecord.StudyDescription" class="control-label"></label>
                <input asp-for="StudyRecord.StudyDescription" class="form-control" />
                <span asp-validation-for="StudyRecord.StudyDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyRecord.RecordState" class="control-label"></label>
                <input asp-for="StudyRecord.RecordState" class="form-control" />
                <span asp-validation-for="StudyRecord.RecordState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
